= content_tag_for "li", comment, do
  %address
    = image_tag comment.user.picture_url, class: "inline avatar"
    %span= comment.user.name
    hace
    %time(datetime="#{comment.created_at.to_s(:db)}")= time_ago_in_words comment.created_at
  - if @event.allow_edits_by(current_user)
    = link_to "×", event_comment_path(@event, comment), confirm: t('shared.are_you_sure'), method: :delete, class: :close
  .text.alert-message.block-message
    = simple_format comment.text
