.event
  = link_to event.name, event, :class => 'location'
  .event_location= event.location
  .date
    = event.start_at
  - if event.limited?
    %span= "#{ event.confirmed_attendees.size }/#{ event.attendee_quota } " + t('event.occupied_seats')
