= content_tag_for "li", event do
  = link_to event do
    .title= event.name

    %div.where.metadata= event.location
    %time.metadata(datetime="#{event.start_at.to_s(:db)}")
      = l(event.start_at, format: :short)

    - if event.limited?
      %span.slots
        = t('.open_slots', count: event.attendances.confirmed.size, total: event.attendee_quota)

  .attendance_actions
    = render "events/attendance_actions", rsvp: Rsvp.new(event, attendance) if local_assigns.has_key?(:attendance)
