.event
  = link_to event.name, event
  = event.location
  .date
    = event.start_at
  - unless event.attendee_quota.nil?
    %span= "#{ event.confirmed_attendees.size }/#{ event.attendee_quota } " + t('event.occupied_seats')
