.form_field
  = f.label :name
  = f.text_field :name, placeholder: t(".placeholders.name")
  = f.errors :name

.form_field
  = f.label :description
  = f.text_area :description, placeholder: t(".placeholders.description")
  = f.errors :description

.double_feature
  .form_field
    = f.errors :start_at
    = f.label :start_at
    = f.fields_for :start_at do |start_at|
      = start_at.text_field :date, value: "#{@event.start_at.to_s(:date) if @event.start_at.present?}", placeholder: t(".placeholders.date")
      = start_at.text_field :time, value: "#{@event.start_at.to_s(:time) if @event.start_at.present?}", placeholder: t(".placeholders.time")

  .form_field#end_at_container
    = f.errors :end_at
    = f.label :end_at
    = f.fields_for :end_at do |end_at|
      = end_at.text_field :date, value: "#{@event.end_at.to_s(:date) if @event.end_at.present?}", placeholder: t(".placeholders.date")
      = end_at.text_field :time, value: "#{@event.end_at.to_s(:time) if @event.end_at.present?}", placeholder: t(".placeholders.time")

.form_field
  = f.label :location
  = f.text_field :location, placeholder: t(".placeholders.location")
  = f.errors :location

.form_field
  = f.label :city
  = f.text_field :city, placeholder: t(".placeholders.city")
  = f.errors :city

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      var theEvent = new A8.Models.Event(#{@event.to_json})

      new A8.Views.Events.EndDateToggle({
        model:      theEvent,
        el:         $("#end_at_container"),
        show_date:   "#{t(".show_end_date")}",
        hide_date:   "#{t(".hide_end_date")}"
      }).render();

      var custom_range = function(input){
        var min = new Date();
        var dateMin = min;
        var dayRange = 365;
        var dateMax = min + dayRange;

        if (input.id == "event_start_at_date") {
          if ($("#event_end_at_date").datepicker("getDate") != null) {
            dateMax = $("#event_end_at_date").datepicker("getDate");
            dateMin = $("#event_end_at_date").datepicker("getDate");
            dateMin.setDate(dateMin.getDate() - dayRange);
            if (dateMin < min) {
              dateMin = min;
            }
          }
        } else if (input.id == "event_end_at_date") {
          if ($("#event_start_at_date").datepicker("getDate") != null) {
            dateMin = $("#event_start_at_date").datepicker("getDate");
            var rangeMax = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + dayRange);
            if(rangeMax < dateMax) {
              dateMax = rangeMax;
            }
          }
        }
        return {
          minDate: dateMin,
          maxDate: dateMax,
        };
      };
      var pickers = $("#event_start_at_date, #event_end_at_date").datepicker({
        dateFormat: 'yy-mm-dd',
        beforeShow: custom_range,
        numberOfMonths: 2
      });
    });
