- with_options :scope => [:events, :form, :placeholders] do |placeholder_i18n|
  .form_field
    = f.label :name
    = f.text_field :name, placeholder: placeholder_i18n.t(:name)
    = f.errors :name

  .form_field
    = f.label :description
    = f.text_area :description, placeholder: placeholder_i18n.t(:description)
    = f.errors :description


  .double_feature
    .form_field
      = f.errors :start_at
      = f.label :start_at
      = f.fields_for :start_at do |start_at|
        = start_at.text_field :date, type: "date"
        = start_at.time_select :time, type: "time"

    .form_field
      = f.errors :end_at
      = f.label :end_at
      = f.fields_for :end_at do |end_at|
        = end_at.text_field :date, type: "date"
        = end_at.time_select :time, type: "time"

  .form_field
    = f.label :location
    = f.text_field :location, placeholder: placeholder_i18n.t(:location)
    = f.errors :location

  .form_field
    = f.label :city
    = f.text_field :city, placeholder: placeholder_i18n.t(:city)
    = f.errors :city

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      var custom_range = function(input){
        var min = new Date();
        var dateMin = min;
        var dayRange = 365;
        var dateMax = min + dayRange;

        if (input.id == "event_start_at_date") {
          if ($("#event_end_at_date").datepicker("getDate") != null) {
            dateMax = $("#event_end_at_date").datepicker("getDate");
            dateMin = $("#event_end_at_date").datepicker("getDate");
            dateMin.setDate(dateMin.getDate() - dayRange);
            if (dateMin < min) {
              dateMin = min;
            }
          }
        } else if (input.id == "event_end_at_date") {
          if ($("#event_start_at_date").datepicker("getDate") != null) {
            dateMin = $("#event_start_at_date").datepicker("getDate");
            var rangeMax = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + dayRange);
            if(rangeMax < dateMax) {
              dateMax = rangeMax;
            }
          }
        }
        return {
          minDate: dateMin,
          maxDate: dateMax,
        };
      };
      var pickers = $("input[type=date]").datepicker({
        dateFormat: 'yy-mm-dd',
        beforeShow: custom_range,
        numberOfMonths: 2
      });
    });
