= f.form_field :name do
  = f.label :name
  = f.text_field :name, placeholder: t(".placeholders.name")
  = f.errors :name

= f.form_field :description do
  = f.label :description
  = f.text_area :description, placeholder: t(".placeholders.description")
  = f.errors :description

.double_feature
  = f.form_field :start_at do
    = f.label :start_at
    = f.text_field :start_at, type: "datetime-local", placeholder: t(".placeholders.start_at")
    = f.errors :start_at, block: true

  = f.form_field :end_at do
    = f.label :end_at
    = f.text_field :end_at, type: "datetime-local", placeholder: t(".placeholders.end_at")
    = f.errors :end_at, block: true

= f.form_field :location do
  = f.label :location
  = f.text_field :location, placeholder: t(".placeholders.location")
  = f.errors :location

= f.form_field :city do
  = f.label :city
  = f.text_field :city, placeholder: t(".placeholders.city")
  = f.errors :city

%script(data-template-for="TimeSelect" type="text/html")
  %input{ id: "%{ prefix }_date", type: "text", placeholder: t(".placeholders.date"), "data-format" => js_date_format  }
  = time_select "%{ prefix }"

%script(data-template-for="TimezoneSelector" type="text/html")
  = raw t(".timezone_selector", tz: current_location.timezone.to_s)

- content_for :javascript do
  :javascript
    jQuery(function($) {
      var the_event = new A8.Models.Event(#{@event.to_json});

      new A8.Views.Events.Scheduler({
        el:     $(".double_feature > .form_field"),
        model:  the_event,
        toggle: {
          show_date:   "#{t(".show_end_date")}",
          hide_date:   "#{t(".hide_end_date")}"
        }
      }).render();
    });
