.form_field
  = f.label :name, t("event.name")
  = f.text_field :name

.form_field
  = f.label :description, t("event.description")
  = f.text_area :description

.form_field
  = f.label :start_at, t("event.start_at")
  = f.text_field :start_at, :value => f.object.start_at, :type => "date"

.form_field
  = f.label :end_at, t("event.end_at")
  = f.text_field :end_at, :value => f.object.end_at, :type => "date"

.form_field
  = f.label :location, t("event.location")
  = f.text_field :location

.form_field
  = f.label :city, t("event.city")
  = f.text_field :city

.submit_button
  = f.submit t("event.form.create.submit")
