%h2= t('events.my_events.title')
- @my_events.each do |personal_event|
  .event
    = link_to personal_event.name, personal_event
    .date
      = personal_event.start_at
    - unless personal_event.attendee_quota.nil?
      %span= "#{ personal_event.confirmed_attendees.size }/#{ personal_event.attendee_quota } " + t('event.occupied_seats')

= link_to t('events.my_events.see_all'), "#"
