= f.form_stack id: "event_scope" do
  = f.stack_field :public do
    = f.check_box :public
    %span= t("activerecord.attributes.event.public")
  = f.stack_field :allow_invites do
    = f.check_box :allow_invites, :disabled => f.object.public?
    %span= t("events.settings.attendees_can_invite")

= f.form_stack label: t(".guest_limit"), id: "guest_limit" do
  = f.stack_field :open, id: "open_event", for: "event_open_true" do
    = f.radio_button :open, true
    %span=t "activerecord.attributes.event.open"
  = f.stack_field :open, id: "quota", for: "event_open_false" do
    = f.radio_button :open, false
    = f.label :attendee_quota, t(".attendee_quota_prefix")
    = f.number_field :attendee_quota, min: 1, class: "attendee_quota"
    = f.label :attendee_quota, t(".attendee_quota_suffix")

- content_for :javascript do
  :javascript
    $(function() {
      new A8.Views.Events.PrivateToggle({
        el: $("#event_scope"),
        model: window.current_page.event
      }).render();

      new A8.Views.Events.QuotaToggle({
        el: $("#quota"),
        model: window.current_page.event
      }).render();

      window.s = new A8.Views.Events.GuestLimitSelector({
        el: $("#guest_limit"),
        model: window.current_page.event
      }).render();
    });
