.form_field
  = f.check_box :public
  = f.label :public

.form_field
  = f.check_box :allow_invites, :disabled => f.object.public?
  = f.label :allow_invites, t("event.attendees_can_invite")

.form_field
  %button#no_limit.toggle_button= t("event.form.invite.no_limit")

.form_field.attendee_quota_field
  = f.label :attendee_quota
  = f.number_field :attendee_quota, :size => 3, :class => "attendee_quota"
  = t("event.form.invite.after_attendee_quota")
