%h2= t("event.form.edit.title")

= form_for @event do |f|
  -# FIXME Needs error messages
  #left_column
    = render :partial => "form", :locals => {:f => f}

    = render :partial => "settings", :locals => {:f => f}

  #right_column
    #actions
      = link_to t('event.form.edit.cancel_event'), event_path(@event), :method => :delete, :confirm => t('shared.are_you_sure')
    = render :partial => "invitee_list", :locals => {:f => f}

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      new A8.Views.Events.SettingsView
    });
