%h2= t("event.form.edit.title")

-# %aside.alternate#cancel
  = link_to t('event.form.edit.cancel_event'), event_path(@event), :method => :delete, :confirm => t('shared.are_you_sure')

= form_for @event do |f|
  = render "form", :f => f
  = render "settings", :f => f
  %submit_button
    = f.submit

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      new A8.Views.Events.SettingsView($("#no_limit"));
    });
