%h2=t  "event.form.invite.title"

= form_for @event, class: :invite_more_people do |f|
  = render "settings", :f => f
  = render "invitee_list", :f => f

  %p.explanation
    = t("event.form.invite.explanation")

  .submit_button
    = f.submit t("event.form.invite.submit"), id: :submit_event


- content_for :javascript do
  :javascript
    $(function(){
      new A8.Views.Events.SettingsView($("#invite_more_people"));
    });
