%h2= t("event.form.invite.title")
= form_for @event, html: { class: :invite_more_people } do |f|

  = render :partial => :settings, :locals => {:f => f}

  = render :partial => :invitee_list, :locals => {:f => f}

  .explanation
    = t("event.form.invite.explanation")

  .submit_button
    = f.submit t("event.form.invite.submit"), id: :submit_event


- content_for :javascript do
  :javascript
    $(document).ready(function(){
      new A8.Views.Events.SettingsView($("#invite_more_people"));
    });
