%h2= t(".title")

- content_for :javascript do
  :javascript
    window.current_page = window.current_page || {}
    window.current_page.event = current_page.event || new A8.Models.Event(#{@event.to_json});

= form_for @event, url: event_publish_path(@event), html: { class: "form-stacked" } do |f|
  %fieldset
    = render "settings", f: f
    = render "invitations", event: @event, invitations: @invitations, f: f

  .actions
    = f.submit t("event.form.invite.submit"), id: :submit_event
