#event
  %section#title.row
    .columns.span8
      %h1= @event.name

      .tagline
        = tagline(@event)
        = link_to_invite_if_allowed @event, "data-modal" => "autoclose"

    .columns.span8
      - if @event.allow_edits_by(current_user)
        .admin_actions
          %span= link_to t('events.edit.link'), edit_event_path(@event)
          %span= link_to t('events.manage_attendees.link'), event_manage_guests_path(@event), "data-modal" => true

      %address.organizer
        %span=t "events.show.organizer"
        = image_tag @event.host.picture_url, class: "inline avatar"
        = @event.host.name


  %section.row
    .columns.span8
      #description
        =simple_format @event.description

      #comments
        - if signed_in?
          = render 'comments/new'
        - if @comments.any?
          %ol= render @comments

    .columns.span8

      #rsvp.alert-message.block-message{ class: rsvp_class(@attendance) }
        %h3= t(".rsvp.label")
        %span= rsvp_status(@attendance)
        .attendance_actions
          - if signed_in?
            = render "attendance_actions", attendance: @attendance
          - else
            = t("event.need_login_to_confirm")

      #time_and_space.alert-message.block-message.info
        %time.start_time(datetime="#{@event.start_at.to_s(:db)}")
          = l(@event.start_at, format: :default).capitalize

        - if @event.end_at.present?
          %time.end_time(datetime="#{@event.end_at.to_s(:db)}")
            = fancy_end_at @event
        - else
          %span.end_time
            =t "events.show.end_time.default"

        .location= @event.location
        - if @event.city.present?
          .city= @event.city

      #invite= link_to_invite_if_allowed @event, class: ["btn info"], "data-modal" => "autoclose"

      #feeds
        = t("events.show.feed.subscribe")
        = link_to t(".feed.ical/outlook"), event_path(@event, format: :ics), :class => "calendar"
        = link_to t(".feed.gcal"), @event.to_gcal, :class => "calendar"

      #guests.alert-message.block-message
        - if @event.confirmed_invitations.any?
          .confirmed.clearfix
            %h3
              =t ".confirmed", count: @event.confirmed_invitations.size
              - if @event.limited? || @event.confirmed_invitations.size > EventsController::MAX_CONFIRMED_ATTENDEES
                %small
                  =t ".available_seats", count: @event.available_slots if @event.limited?
                  - if @event.confirmed_invitations.size > EventsController::MAX_CONFIRMED_ATTENDEES
                    = see_all_link event_confirmed_guests_path(@event)
            %ul= render @confirmed_invitations

        - if @event.waitlisted_invitations.any?
          .waitlisted.clearfix
            %h3
              =t ".waitlist"
              %small
                =t ".people_waiting", count: @event.waitlisted_invitations.size
                - if @event.waitlisted_invitations.size > EventsController::MAX_WAITLISTED_ATTENDEES
                  = see_all_link event_waitlisted_guests_path(@event)
            %ul= render @waitlisted_invitations

        - if @event.pending_invitations.any?
          .pending.clearfix
            %h3
              = t ".invited", count: @event.pending_invitations.size
              - if @event.pending_invitations.size > EventsController::MAX_PENDING_ATTENDEES
                %small= see_all_link event_invited_guests_path(@event)
            %ul= render @pending_invitations

      - if @event.declined_invitations.any?
        #declined
          %span=t ".declined", count: @event.declined_invitations.size
          = see_all_link event_declined_guests_path(@event), t(".declined.see_list")

  - content_for :javascript do
    :javascript
      window.current_page = window.current_page || {}
      window.current_page.event = current_page.event || new A8.Models.Event(#{@event.to_json});
