#title
  %h1
    = @event.name
    - if @event.allow_edits_by(current_user)
      %span= link_to t('events.edit.link'), edit_event_path(@event), class: "edit"

  #info_short
    %address.organizer
      %span=t "events.show.organizer"
      = image_tag @event.host.picture_url, class: "tiny avatar"
      = @event.host.name

    = tagline(@event)
    / Is this --v ok?
    = link_to_invite_if_allowed @event

  #left_column

    #description
      =simple_format @event.description

    %section#comments
      = render 'comments/new'
      - if @comments.any?
        %ol= render @comments

  %aside#time_and_space
    %time.start_time(datetime="#{@event.start_at.to_s(:db)}")
      = l(@event.start_at, format: :default).capitalize

    - if @event.end_at.present?
      %time.end_time(datetime="#{@event.end_at.to_s(:db)}")
        = fancy_end_at @event

    .location= @event.location
    - if @event.city.present?
      .city= @event.city

  %aside#feeds
    = t("events.show.feed.subscribe")
    = link_to t("events.show.feed.ical"), "#", :class => "calendar"
    = link_to t("events.show.feed.gcal"), "#", :class => "calendar"
    = link_to t("events.show.feed.ycal"), "#", :class => "calendar"

  %aside#actions
    = render "attendance_actions", attendance: @attendance, event: @event

  - if @event.confirmed_invitations.any?
    %aside#confirmed_guests
      %h2
        = t 'events.show.confirmed', count: @event.confirmed_invitations.size
      - if @event.limited?
        %span= t "events.show.available_seats", count: @event.available_slots
      = render @confirmed_attendees
      - if @event.confirmed_invitations.size > EventsController::MAX_CONFIRMED_ATTENDEES
        = link_to t('event.form.see_all'), event_confirmed_path(@event)


  - if @event.waitlisted_invitations.any?
    %aside#waitlist
      %h2
        = t "events.show.waitlist"
        %span= t "events.show.people_waiting", count: @event.waitlisted_invitations.size
      = render @waitlisted
      - if @event.waitlisted_invitations.size > EventsController::MAX_WAITLISTED_ATTENDEES
        = link_to t('event.form.see_all'), "#"


  %h2=t "events.show.invited", count: @event.attendances.size
  %span= link_to_invite_if_allowed @event
  - if @event.attendances.size > EventsController::MAX_PENDING_ATTENDEES
    = link_to t('event.form.see_all'), "#"
  = render @invited

#modal_window

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      router = new A8.Routers.EventRouter(#{@event.id});
      router.counter_updated(#{@event.attendances.size})
    });


= render "invite_people_template"
