#modal_window
%input{type: :hidden, id: :event_id, value: @event.id}
#title
  %h1= t('event.name')
  #info_short
    = t "event.confirmed", :count => @event.confirmed_attendees.size
    = t 'event.invited', :count =>  @event.attendances.size
    %span= link_to t('event.form.invite.people'), event_invite_people_path(@event), class: :invite_more if @event.allow_invites or @event.host == current_user
    %span= link_to t('event.form.event.edit'), edit_event_path(@event) if current_user == @event.host

  #left_column

    #description
      %p= @event.description

    #comments
      = render :partial => 'comments/new'

      = render @comments

  #right_column

    #time_and_space
      %h3= l @event.start_at, :format => :time
      - unless @event.end_at.nil?
        = "#{ t('event.end_at') } #{ @event.end_at }"

      %h3= @event.location
      = @event.city

      = link_to "iCal", "#", :class => "calendar"
      = link_to "GoogleCal", "#", :class => "calendar"
      = link_to "YahooCal", "#", :class => "calendar"

    #actions
      = render :partial => "attendance_actions", :locals => {:attendance => @attendance, :event => @event}

    #invitees
      %h2=t 'event.confirmed', :count => @event.confirmed_attendees.size
      - if @event.limited?
        %span= "(#{ @event.available_slots } " +  t('event.available_seats') + ")"

      - @confirmed_attendees.each do |confirmed_attendee|
        = image_tag confirmed_attendee.picture_url
        = confirmed_attendee.name
      - if @event.confirmed_attendees.size > EventsController::MAX_CONFIRMED_ATTENDEES
        = link_to t('event.form.see_all'), "#"


      - unless @waitlisted.empty?
        %h2= t('event.waitlist')
        %span= "#{ @event.waitlisted.size }" + t('event.people_waiting')
        - @waitlisted.each do |waitlisted|
          = image_tag waitlisted.picture_url
          = waitlisted.name
        - if @event.waitlisted.size > EventsController::MAX_WAITLISTED_ATTENDEES
          = link_to t('event.form.see_all'), "#"


      %h2= "#{ @event.invitees.size } " + t('event.invitees')
      %span= link_to t('event.form.invite.people'), event_invite_people_path(@event), class: :invite_more if @event.allow_invites or @event.host == current_user
      - if @event.invitees.size > EventsController::MAX_PENDING_ATTENDEES
        = link_to t('event.form.see_all'), "#"

      - @invitees.each do |invitee|
        = image_tag invitee.picture_url
        = invitee.name

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      new A8.Routers.EventRouter();
    });
