#welcome
  %h1.greetings= t("homepage.welcome.message")

  #organize_an_event
    %h2= t("homepage.welcome.organize_an_event")

  #welcome
    %ul#features
      %li= t("homepage.welcome.features.social_logins")
      %li= t("homepage.welcome.features.waiting_list")
      %li= t("homepage.welcome.features.private_events")
      %li= t("homepage.welcome.features.public_events")

  -if @public_events.any?
    #latest_public_events
      %h3= t("homepage.welcome.latest_public_events", :city => current_location)
      %ol
        = render @public_events
