- content_for :javascript do
  :javascript
    window.current_page = window.current_page || {}
    window.current_page.event = current_page.event || new A8.Models.Event(#{@event.to_json});

= form_for @event, url: event_invitations_path, remote: true, html: { method: :post, class: "form-stacked modal" } do |f|
  .modal-header
    = link_to "×", "javascript:;", class: "close"
    %h3= t ".title"
  .modal-body
    = render "events/invitations", event: @event, invitations: @invitations, f: f
  .modal-footer
    = f.submit t(".invite"), class: "btn primary", disable_with: t("shared.submitting")
