= content_tag_for "li", invitation do
  = link_to invitation.object do
    .title= invitation.name

    %div.where.metadata= invitation.location
    %time.metadata(datetime="#{invitation.time.to_s(:db)}")
      = l invitation.time, format: :default

    - if invitation.limited?
      %span.slots
        = t('.open_slots', count: invitation.available_slots, total: invitation.quota)
