= content_tag_for "li", attendance do
  - if local_assigns.fetch(:management, false)
    .attendance_actions= render "events/rsvp", manager: true, rsvp: Rsvp.new(attendance)

  = image_tag attendance.owner.picture_url, class: "avatar medium"
  %span.name= attendance.owner.name

- if local_assigns.fetch(:management, false)
  - content_for :javascript do
    :javascript
      new A8.Views.Guests.Manageable({
        el: $("#management ##{dom_id(attendance)}")
      }).render();
