!!! 5
%html{lang: "#{current_locale}", 'xmlns:og' => "http://ogp.me/ns#"}
  = render "layouts/head"
  %body
    .topbar
      .fill
        .container
          %h3#logo= link_to t("app.title"), root_path, rel: "home"
          - if signed_in?
            %ul.nav
              %li= link_to t("events.form.button.new"), new_event_path
            %ul.nav.secondary-nav
              = render "notification/list"
              %li.menu#user_menu
                %a(href="javascript:;" class="menu")
                  = image_tag current_user.picture_url, class: "tiny avatar"
                  = current_user.name
                %ul.menu-dropdown
                  %li= link_to t("accounts.edit.link"), edit_account_path
                  %li.divider
                  %li= link_to t("sessions.sign_out.link"), "/auth/sign_out"
          - else
            = render "shared/authentication"

    .container
      = flash_messages

    .container#main
      = yield

    %footer.container
      %ul
        %li= mail_to "hola@alasocho.com", t("shared.contact_us", email: "hola@alasocho.com")
        %li= link_to t("shared.terms_and_conditions"), terms_and_conditions_path
        %li= link_to t('social.twitter.follow_us'), "http://twitter.com/a_las_ocho"

    = render "layouts/javascript"
    = render "layouts/google_analytics" if Rails.env.production?
