!!! 5
%html(lang="#{current_locale}")
  %head
    %meta(charset="utf-8")
    %title=t "app.title"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag :application
    /[if lte IE 9]
      = stylesheet_link_tag "ie"
  %body
    = yield
    = javascript_include_tag :defaults
