!!! 5
%html{lang: "#{current_locale}", 'xmlns:og' => "http://ogp.me/ns#"}
  %head
    %meta(charset="utf-8")
    %title=[@page_title, t("app.title")].compact.join(' - ')
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Ubuntu:400,700", :application
    /[if lte IE 9]
      = stylesheet_link_tag "ie"
    %link(rel="home" href="/")
    %meta{property: "og:title",     content: (@page_title || t("app.title"))}
    %meta{property: "og:type",      content: (@page_type || "article")}
    %meta{property: "og:image",     content: (@page_image || "http://#{ALasOcho.config[:canonical_host]}/assets/logo-header.png")}
    %meta{property: "og:url",       content: (@page_url || request.url)}
    %meta{property: "og:site_name", content: t("app.title")}
    - if @page_description
      %meta{property: "og:description", content: @page_description}
  %body
    #rally_badge
    .container
      %header
        %h1
          = link_to t("app.title"), root_path

        #user_area
          - if signed_in?
            #current_user
              = image_tag current_user.picture_url
              = current_user.name
              |
              = link_to t("accounts.edit.link"), edit_account_path
              |
              = link_to t("sessions.sign_out.link"), "/auth/sign_out"
              |
              = render :partial => "shared/notifications"
          - else
            - Authorization::PROVIDERS.each do |provider|
              = link_to t("sessions.sign_in.#{provider}"),  "/auth/#{provider}",  class: "sign_in #{provider}"


      = flash_messages

      %section#main
        = yield
      %footer
        = mail_to "hola@alasocho.com", "Contacto"
        = link_to t("shared.terms_and_conditions"), terms_and_conditions_path
        = link_to t('social.twitter.follow_us'), "http://twitter.com/#!/a_las_ocho"

    = javascript_include_tag :application, :a8

    = yield :javascript
    :javascript
      $(document).ready(function(){
        if(Backbone.history){
          Backbone.history.start();
        }
      });
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25135104-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

