!!! 5
%html(lang="#{current_locale}")
  %head
    %title A Las Ocho
    = csrf_meta_tags
    = stylesheet_link_tag :application
    = javascript_include_tag :application
  %body
    - if flash[:notice].present?
      .notice= flash[:notice]
    - if flash[:alert].present?
      .alert= flash[:alert]
    = yield
