!!! 5
%html(lang="#{current_locale}")
  %head
    %title=t "app.title"
    = csrf_meta_tags
    = stylesheet_link_tag :application
    = javascript_include_tag :application, :eight
  %body
    = yield
