%br
%br
%br
.link_accounts
  - Authorization::PROVIDERS.each do |service|
    - unless current_user.linked_to?(service)
      = link_to t("accounts.link_with.#{service}"),  "/auth/#{service}"
  - if current_user.can_be_linked_further?
    .explain
      = t("accounts.link_with.why")
= form_for current_user, :url => account_path do |f|
  .form_field
    = f.label :name
    = f.text_field :name
  .form_field
    = f.label :email
    = f.text_field :email

  .submit_button
    = f.submit
