%h1=t "accounts.edit.title"

- if current_user.can_be_linked_further?
  %aside.link_accounts
    - Authorization::PROVIDERS.each do |service|
      - unless current_user.linked_to?(service)
        = link_to t("accounts.link_with.#{service}"), "/auth/#{service}", class: "#{service} sign_in"
    %p.explain
      = t("accounts.link_with.why")

= form_for current_user, url: account_path do |f|
  .form_field
    = f.label :name
    = f.text_field :name, placeholder: t("accounts.form.placeholders.name")
    = f.errors :name
  .form_field
    = f.label :email
    = f.text_field :email, placeholder: t("accounts.form.placeholders.email")
    = f.errors :email
  .form_field
    = f.check_box :wants_comment_notifications
    = f.label :wants_comment_notifications

  .submit_button
    = f.submit
